@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --color-violet-400: theme('colors.violet.400');
      --color-fuchsia-400: theme('colors.fuchsia.400');
      --color-fuchsia-900: theme('colors.fuchsia.900');
      --color-amber-400: theme('colors.amber.400');
      --color-teal-400: theme('colors.teal.400');
      --color-gray-950: theme('colors.gray.950');
      --color-border: theme('colors.gray.200/20%');
      --color-indigo-900: theme('colors.indigo.900');
  }
  .border-gradient {
      @apply border-2 border-transparent [background:linear-gradient(var(--color-gray-950),var(--color-gray-950))_padding-box,conic-gradient(from_45deg,var(--color-violet-400),var(--color-fuchsia-400),var(--color-amber-400),var(--color-teal-400),var(--color-violet-400))_border-box];
  }
  .mobile-menu-border-gradient {
      @apply border-2 border-transparent [background:linear-gradient(var(--color-gray-950),var(--color-gray-950))_content-box,conic-gradient(from_45deg,var(--color-violet-400),var(--color-fuchsia-400),var(--color-amber-400),var(--color-teal-400),var(--color-violet-400))_border-box];
  }
  .absolute-center {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.card {
  @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_2px_8px_rgb(255,255,255,.5)] max-w-xs w-full;
}
